.imageContainer{
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
}

.pictureLogo{
    position:absolute;
    /*hat size=128px*/
    top:60px;
    z-index:3;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
input.invalid {
    border-color: #DD2C00;
}
input.valid-feedback {
    border: darkgreen;
}